body {
    font-family: "RalewayRegular", sans-serif;
    font-size: 16px;
    min-width: 320px;
}
/*HEADER*/
header {
    height:680px;
    background-image:url(../img/banner.jpg);
    background-size:cover;
}
nav {
    height:94px;
    line-height:94px;
    position:absolute;
    z-index:999;
    top:0px;
    left:0px;
    width:100%;
}
.menu {
    list-style-type:none;
    margin:0px;
    padding:0px;
}
.menu li {
    display:inline-block;
    padding:0px 25px
}
.menu li a {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "RalewayBold", sans-serif;
}
.menu li a:hover, 
.menu li a:focus {
    text-decoration: none;
    color: #a09f9f;
}
.logo {
    padding-top:35px
}
.line {
    height:1px;
    background-color:#c4c1c1;
}
.main_title {
    color:#ffffff;
    text-align:center;
    padding-top:200px;
}
.main_title h1 {
    font-size: 50px;
    font-family: "RalewayBold", sans-serif;
    margin-bottom:30px;
    }
.main_title p {
    font-size:18px;
    margin-bottom:50px
}
.my_btn {
    background-color:#9f0000;
    border:none;
    text-transform:uppercase;
    color:#ffffff;
}
.my_btn:hover{
    background-color:#ff0000
}
.size_btn {
    padding:10px 30px 
}
.btn_menu span {
    color:#ffffff;
    top:-15px;
}
btn_menu {
    margin:0px;
    padding:0px;
}
/*CAROUSEL*/
.slaid {
    text-align: center;
    font-size: 26px;
    font-weight:bolder;
    text-transform: uppercase;
    font-family: "RalewayBold", sans-serif;
    padding:30px 0px 30px;
}
.carousel-indicators li {
    background-color:#9f0000;
}
.carousel-indicators .active {
    background-color: rgb(0, 0, 0);
}
/*OUR PRINCIPLE*/
.first_block {
    padding-top: 100px;
    padding-bottom: 100px;
}
.block {
    text-align:center;
    margin-bottom:50px;
}
.block i {
    font-size: 70px;
    color: #9f0000;
}
.block:hover>i,
.block:focus>i{
    color:#ff0000;
}
.block h3 {
    font-family: "RalewayBold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.block p {
    font-size:14px;
}
.row_second {
    padding-top:50px;
}
.pad_0 {
    padding:0px
}
/*OUR PORTFOLIO*/
.works {
    position:relative;
}
.img_discr {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:rgba(232, 69, 69, 0.7);
    display:flex;
    opacity:0;
}
.inform {
    color:#ffffff;
    text-align:center;
    margin:auto;
}
.works:hover .img_discr {
    opacity:1;
}
/*OUR TEAM*/
.team {
    padding-top:95px;
    text-align:left
}
.team h4 {
    font-family: "RalewayBold", sans-serif;
    color:rgb(0, 0, 0)
}
.team span {
    text-transform: uppercase;
    color: #9f0000;
        
}
.team p {
     color:rgb(128, 128, 128);
     margin-top:10px;
     font-size:14px;
}
.btn_soc {
     width:30px;
     height:30px;
     background-color:transparent;
     border:1px solid #c4c1c1;
     color:#a09f9f;
     transition:width 0.5s, height 0.5s;
}
.btn_soc:hover{
     border:2px solid #3b5998 ;
     width:35px;
     height:35px;
     color:#3b5998;
}
.team:hover>span{
    color:#ff0000;
    font-weight:bolder;
}
.soc_cont {
     padding-top:10px;
     height:55px;
}
/*FOUR_BLOCK*/
.botton_inf {
     text-align:center;
     padding-top:95px
}
.botton_inf h5 {
     font-family: "RalewayBold", sans-serif;
     font-size:24px;
}
.botton_inf p {
     font-weight:bolder;
     text-transform:uppercase;
     margin-bottom:30px
}
/*CONTACT US*/
#map{ 
    width:100%;
    height:420px;
    margin-top:70px;
    border:1px solid #c4c1c1;
      
}
#form_question h3 {
    text-align: center;
    height: 50px;
    line-height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    font-size: 23px;
    color: rgb(0, 0, 0);
    font-family: "RalewayBold", sans-serif;
}
textarea {
    resize: none;
    overflow-y: auto;  
}
.btn_question {
    width:200px;
    font-size:18px;
    background-color:#9f0000;
    color:#ffffff;
}
.btn_question:hover{
    background-color:#ff0000;
    color:white;
}
.btn_pos{
    text-align:center;
}
/*FOOTER*/
.main_footer {
    margin-top:50px;
    height: 150px;
    background-color: #3a3e64;
}
.location {
    color:#ffffff;
    text-align:center;
    padding-top:40px
}
.location p {
    color:#c4c1c1
}
.footer_btn {
    width: 30px;
    height: 30px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: #3a3e64;
}
.footer_btn:hover{
    border:1px solid #ff0000;
}
.second_footer {
    height:70px;
    background-color: #313454;
    color:#ffffff;
    text-align:center;
}
.second_footer p {
    margin-top:20px
}
.copyright {
    font-size: 14px;
}
.copyright i{
    color:#e84545;
}
/*MODAL FORM*/
#res_modal {
   width:70%;
   margin:0px auto;
}
#modal_form input {
    margin-bottom:10px;
    margin-top:10px;
}
#more_information {
    margin-top: 50px;
}
.callreg_btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #313454;
    color:#ffffff;
    border:none;
    width:40px;
    height:40px;
}
.x {
    position:fixed;
    top:10px;
    right:15px;
}
.modal-header h4{
    text-align:center;
    font-weight:bold;
}
.error_message,.error_box{
    font-size:14px;
    padding:0px;
}
.error_submit,.error_submit_2 {
    display: none;
    text-align: center;
    color: #ff0000;
    font-weight: bold;
    font-size: 17px;
    -webkit-animation: blink2 1s linear infinite;
    animation: blink2 0.7s linear infinite;
}
@-webkit-keyframes blink2 {
    100% {
        color: rgba(34, 34, 34, 0);
    }
}

@keyframes blink2 {
    100% {
        color: rgba(34, 34, 34, 0);
    }
}
/*BUTTON BACK TO UP*/
.up {
    font-size: 40px;
    color: #ffffff;
    padding-top: 3px;
    padding-left: 12px;
}
#back-top {
    display:none;
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 99991;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #a09f9f;
    opacity:0.5;
}
#back-top:hover{
    opacity:1;
}