@Mont_bold: 'Montserrat-Bold',sans-serif;
@Mont_regular: 'MontserratRegular',sans-serif;
@Merr_Bold: 'Merriweather-Bold', sans-serif;
@Merr_Regular: 'Merriweather-Regular', sans-serif;
@Rel_Regular: 'Raleway-Regular', sans-serif;
@grey: #777879;
/*additional classes*/
.block_title {
    font-family: @Merr_Bold;
    font-size: 38px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    padding-top: 120px;
}

.litle_title {
    font-family: @Merr_Regular;
    font-size: 18px;
    color: #848585;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-bottom: 120px;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
/*HEADER*/

header {
    background-image: url('../img/baner.jpg');
    background-size: cover;
    width: 100%;
    height: 810px;

    img {
        border: 4px solid #000000;
        margin: 50px 0 0 15px;
        transition: 0.5s;
    }

    img:hover,
    img:focus {
        border: 4px solid #75d6e0;
    }
}

nav {
    display: flex;
    justify-content: space-between;

    .nav_menu {

        .md-opaque {
            opacity: 0;
            position: fixed;
        }

        .menu_fixed {
            position: fixed;
            outline: none;

            .close_tab {
                float: right;
                cursor: pointer;
                font-size: 28px;
                outline: none;

                &:hover {
                    color: #75d6e0;
                }
            }
        }

        .btn_menu {
            margin: 55px 15px 0 0;
            cursor: pointer;
            outline: none;

            i {
                font-size: 28px;
                transition: 0.3s;
            }
        }
    }

    .btn_menu:hover,
    .btn_menu:focus {
        color: #75d6e0;
    }

    .collapse_menu {
        text-align: center;
        margin: 40% 0;

        li {
            padding:10px 0 10px 0;
            &:hover{
                background-color:#75d6e0;
            }

            a {
                text-decoration: none;
                color: #000000;
                font-family: @Mont_bold;
                font-size: 22px;
            }
        }
    }
}

.title_block {
    position: relative;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;

    h1 {
        margin-top: 200px;
        margin-bottom: 100px;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        font-family: @Mont_bold;
        font-size: 45px;
        text-shadow: 5px 5px 3px #cbccce;

        span {
            background-color: #afede9;
            padding: 0 10px 0 10px;
        }
    }

    .btn_contact {
        width: 225px;
        height: 55px;
        padding-top: 0px;
        border: 2px solid @grey;
        color: @grey;
        background: #cbccce;
        font-weight: bold;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        font-family: @Mont_regular;
        font-size: 18px;
        text-transform: uppercase;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        -webkit-transition: 0.2s;
        transition: 0.2s;

        &:hover {
            color: #75d6e0;
            border: 2px solid #75d6e0;
            background: #ffffff;
        }
    }
}
/*ABOUT US*/
#about_us {
    background-color: rgba(203, 204, 206, 0.30);
    padding-bottom: 120px;
}

.title_about_us {
    overflow: hidden;

    .about_us_container {
        display: flex;
        -ms-flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        justify-content: space-between;

        .carusel_about, .information_about {
            width: 555px;
        }

        .carusel_about {
            display: flex;
            justify-content: center;
            position: relative;

            img {
                max-width: 100%;
                max-height: 100%;
                -webkit-box-shadow: 0px 0px 40px 0px rgba(239,240,242,1);
                -moz-box-shadow: 0px 0px 40px 0px rgba(239,240,242,1);
                box-shadow: 0px 0px 40px 0px rgba(239,240,242,1);
            }
        }
    }

    .information_about {
        padding-right: 15px;

        h4 {
            font-family: @Merr_Bold;
            font-size: 20px;
            text-transform: uppercase;
            color: #646565;
        }

        p {
            font-family: @Rel_Regular;
            font-size: 16px;
            color: #929393;
        }
    }
}
/*OUR WORKS*/
.portfolio {
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;

    .wrap-portfolio {
        overflow: hidden;
    }

    .work_img {
        margin: 0 0 10px 15px;
        position: relative;
        max-height: 360px;
        max-width: 370px;

        img {
            max-width: 100%;
            max-height: 100%;
            margin-bottom: -5px;
        }

        .about_work {
            background-color: #75d6e0;
            width: 100%;
            height: 100.5%;
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            -moz-transition: 0.2s;
            -o-transition: 0.2s;
            -webkit-transition: 0.2s;
            transition: 0.2s;

            &:hover {
                opacity: 0.9;
            }

            .inform {
                color: #ffffff;
                text-align: center;
                margin: auto;

                .soc_work {
                    color: rgba(239,240,242,1);
                    font-size: 25px;
                    margin-right: 10px;

                    &:hover {
                        color: #000000;
                    }
                }
            }
        }
    }
}

#our_works {
    margin-bottom: 120px;
}
/*OUR SERVICES*/
#our_services {
    background-color: rgba(203, 204, 206, 0.30);
    padding-bottom: 120px;
}

.services_block {
    padding: 0 15px 15px 15px;

    .wrap {
        display: flex;
        -ms-flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        justify-content: space-around;

        .service {
            border: 1px solid #ffffff;
            margin-bottom: 5px;
            position: relative;

            .service_information {
                background-color: #636363;
                width: 100%;
                height: 100%;
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.9;

                .about_service {
                    color: #ffffff;
                    text-align: center;
                    margin: auto;

                    h5 {
                        font-family: @Merr_Bold;
                        font-size: 20px;
                        text-transform: uppercase;
                    }

                    p {
                        font-family: @Rel_Regular;
                        font-size: 16px;
                    }

                    a {
                        font-family: @Rel_Regular;
                        font-size: 18px;
                        display: flex;
                        justify-content: center;
                        text-decoration: none;
                        color: #ffffff;

                        i {
                            padding-left: 10px;
                            font-size: 25px;
                        }
                    }
                }

                .more_inform {
                    background-color: #70f5eb;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 1;
                }
            }
        }

        .service_img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
/*TEAM*/
.the_team {
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;

    .img_team {
        margin: 0 7.5px 10px 7.5px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
/*CONTACT US*/
#contact_us {
    background-image: url('../img/baner-contact.jpg');
    background-size: cover;

    .contact_box {
        padding: 120px 0 120px 0;
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;


        .contact_form, .contact_map {
            background-color: rgba(0, 0, 0, 0.70);
            padding: 30px 20px 30px 20px;
            max-width: 520px;
            margin: 0 15px 10px 0;

            .feedback_form {

                input, textarea {
                    width: 100%;
                    color: #ffffff;
                    background: none;
                    padding: 10px 0 10px 0;
                    margin: 0 0 20px 0;
                    border: none;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.70);
                    resize: none;
                }

                .btn_contact {
                    height: 55px;
                    width: 245px;
                    font-family: @Mont_regular;
                    font-size: 18px;
                    background-color: #6eeee4;
                    border: none;
                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    border-radius: 3px;
                    color: #2e6b66;
                    -moz-transition: 0.2s;
                    -o-transition: 0.2s;
                    -webkit-transition: 0.2s;
                    transition: 0.2s;

                    &:hover {
                        color: #ffffff;
                    }
                }
            }
        }

        .contact_map {
            padding: 30px 20px 10px 20px;
            max-width: 520px;

            .contact_inform {
                color: rgba(255, 255, 255, 0.70);
                font-family: @Rel_Regular;
                font-size: 15px;
            }

            .internet-adress {
                color: rgba(255, 255, 255, 0.70);
                font-family: @Rel_Regular;
                font-size: 15px;
            }

            .google_map {
                iframe{
                    max-width:100%;
                }
            }
        }
    }
}
/*FOOTER*/
footer {
    width: 100%;
    height: auto;
    background-color: #262b2e;

    .footer_inform {
        text-align: center;

        h4 {
            font-family: @Rel_Regular;
            font-size: 16px;
            color: #dfe0e0;
            padding-top: 50px;
        }

        .soc_btn {
            a {
                display: inline-block;
                color: #bbb8b9;
                width: 45px;
                height: 42px;
                background-color: #424648;
                text-decoration: none;
                margin-left: 5px;

                &:hover {
                    background-color: #6eeee4;
                    color: #000000;
                }

                i {
                    font-size: 25px;
                    display: flex;
                    align-items: baseline;
                    justify-content: center;
                    padding-top: 9px;
                }
            }
        }

        p {
            color: #dfe0e0;
            font-family: @Rel_Regular;
            font-size: 16px;
            padding: 30px 0 30px 0;
            margin: 0;

            span {
                padding-left: 5px;

                i {
                    font-size: 20px;
                    color: #6eeee4;
                }
            }
        }
    }
}
