
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .wrap-portfolio {
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .wrap-team {
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 790px) {

    /*Disable Animation on Mobile Devices*/
    .animated {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
    header {
        img {
            margin-top: 10px;
        }
    }
    nav {
        position:fixed;
        background-color:#808080;
        width:100%;
        z-index:999;
        top:0;
        .nav_menu {
            .btn_menu {
                margin-top:15px;
            }
        }
    }
    .title_about_us {
        .about_us_container {
            -ms-flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            justify-content: center;
            .information_about{
                text-align:center;
            }
        }
    }
    .portfolio {
        .wrap-portfolio {
            display: flex;
            -ms-flex-wrap: nowrap;
            -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap;
        }

        .work_img {
            margin: auto;
        }
    }
    .about_service{
        p{
            display:none;
        }
    }
    .wrap-team {
        display: flex;
        -ms-flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    #client{
    .wrap_client_center{
        padding-bottom:0;
    }
    .media_client {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    }
    }


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .title_block {
        h1 {
            margin-top: 130px;
        }
    }
    .portfolio {
        .wrap-portfolio {
            -ms-flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        }

        .services_block {
            .wrap {
                -ms-flex-wrap: wrap;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
            }
        }
    .wrap-team {
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        .img_team{
            margin:auto;
        }
    }
    }
        /* Custom, iPhone Retina */
        @media only screen and (max-width : 320px) {
        }
        /* Custom, iPhone Retina */
        @media only screen and (min-width : 320px) {
        }
        /* Extra Small Devices, Phones */
        @media only screen and (min-width : 480px) {
        }
        /* Small Devices, Tablets */
        @media only screen and (min-width : 768px) {
        }
        /* Medium Devices, Desktops */
        @media only screen and (min-width : 992px) {
        }
        /* Large Devices, Wide Screens */
        @media only screen and (min-width : 1200px) {
        }